#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url('/background.jpg');
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100vh;
}

:root {
  --font-primary: 'Noto Sans', serif;
  --font-nav: 'Noto Sans', serif;
  --color-primary: rgba(244, 244, 244, 0.76);
  --color-nav: rgba(244, 244, 244, 0.76);
  --color-submit-button: rgba(255, 116, 3, 0.596);
  --color-form-border: rgba(255, 116, 3, 0.596);
  --color-input-border: rgba(255, 116, 3, 0.596);

}

nav {
  width: 300px;
  font-family: var(--font-nav);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 40px;
}

@media (max-width: 600px) {


  nav {
    font-size: 30px;

  }

  input::placeholder {
    color: black;
  }

  nav a {
    margin: 1.5rem;
  }
}

@media (max-width: 500px) {


  nav {
    font-size: 20px;

  }

  input::placeholder {
    color: black;
  }

  nav a {
    margin: 1.5rem;
  }
}